{% extends 'base.html'  %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center h-100">

  <div class="row d-flex justify-content-center text-center">

      <div class="col-md-12">
        <h2  class="display-4 font-weight-bold white-text pt-5 mb-2">Team Power Rankings</h2>
<table class="table table-borderless table-striped table-hover  " >
    <thead>
      <tr>
        
        <th scope="col">Rank</th>
        <th scope="col">Book Name</th>
        
      </tr>
    </thead>
    <tbody>
        {% for rank in ranks %}
        <tr class="bg-dark text-light" >
            
            <td class='counterCell'></td>
            {% for book in books %} {% if rank == book.book_name %}
            <td> <a class="btn btn-outline-dark text-light" href="{{book.book_url}}">{{book.book_nice}}</a> </td>
            {% endif %}{% endfor %}
            
          </tr>
          {% endfor %}
    </tbody>
   </div> 
  </div> 
</div>

</table>
{% endblock %}


