<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is my capstone

    {% for odd in odds.data %}
    <ul>
        <li>{{odd.teams}}</li>
        {% for site in odd.sites %}
        <ul>{{site.site_nice}}
        <li>{{site.odds.h2h}}</li></ul>
        {% endfor %}

    </ul>
      
    {% endfor %}

</body>
</html>