{% extends 'base.html' %}
{% block content %}
<div class="container mt-0">
      
   {% for team in teams %}
   {% for play in playing %}
   {% if team not in play %} 
   
   <h2 class="display-3">No games scheduled for the {{team}}</h2>
   {% endif  %}
   {% endfor %}
   {% endfor %}
   


<table class="table table-borderless table-hover mt-0" >
    <thead class='head'>
      <tr>
        
        <th scope="col">Home Team</th>
        <th scope="col">Bookie</th>
        <th scope="col">Away Team</th>
      </tr>
    </thead>

    {% for odd in odds.data %}
    {% if odd.teams[0] in teams or odd.teams[1] in teams  %}
    <tbody>
      <tr class='teams' >
        {% for pic in pics %} {% if pic.team_name == odd.teams[0] %}
        <td>{{odd.teams[0]}} <img  src="{{pic.picture_url}}"  alt=""></td>{% endif %}{% endfor %}
        <td>Start {{get_time(odd.commence_time)}}</td>
        {% for pic in pics %} {% if pic.team_name == odd.teams[1] %}
        <td> <img src="{{pic.picture_url}}" alt=""> {{odd.teams[1]}}</td>{% endif %}{% endfor %}
      </tr>
      
    </tbody>
 {% for site in odd.sites %}
      <tr class="bg-dark text-light">
       
        <td>{{site.odds.h2h[0]}}
            {% if site.odds.h2h[0] == bestHome[odds.data.index(odd)] %}
         <span class="badge badge-success ">Best Value</span></td>
            {% endif %}
            {% if site.odds.h2h[0] == worstHome[odds.data.index(odd)] %}
         <span class="badge badge-danger ">Least Value</span></td>
            {% endif %}
        <td> 
            {% for book in books %}{% if site.site_key == book.book_name %}
          <a class="btn btn-outline-dark text-light" href="{{book.book_url}}">{{site.site_nice}} </a> 
          {% endif %}{% endfor %}
            </td>
        <td>{{site.odds.h2h[1]}}
            {% if site.odds.h2h[1] == bestAway[odds.data.index(odd)] %}
            <span class="badge badge-success ">Best Value</span></td>
               {% endif %}
               {% if site.odds.h2h[1] == worstAway[odds.data.index(odd)] %}
         <span class="badge badge-danger ">Least Value</span></td>
            {% endif %}
        </td>
      </tr> 
      {% endfor %}
      {% else %}
      
      {% endif %}

    
    </tbody>
    <br>
    {% endfor %}
  </table>

  


    {% endblock %}