{% extends 'base.html'  %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center h-100">

  <div class="row d-flex justify-content-center text-center">

      <div class="col-md-12">
        <h2  class="display-4 font-weight-bold white-text pt-5 mb-2">Team Power Rankings</h2>
<table class="table table-borderless table-striped table-hover  " >
    <thead>
      <tr>
        
        <th scope="col">Rank</th>
        <th scope="col">Team</th>
        <th scope="col">Avg. Odds</th>
      </tr>
    </thead>
    <tbody>
        {% for team, value in teams.items() %}
        <tr class="bg-dark text-light" >
            
            <td class='counterCell'></td>
            {% for pic in pics %} {% if pic.team_name == team %}
            <td><img  src="{{pic.picture_url}}"  alt=""> {{team}} </td>
            {% endif %}{% endfor %}
            <td>{{value}}</td>
          </tr>
          {% endfor %}
    </tbody>
   </div> 
  </div>
</div>
   
</table>
{% endblock %}
            


    
    <!-- <div class="container">
 <ol class="mt-4">
{% for team, value in teams.items() %}
<li>{{team}} {{value}}</li>
{% endfor  %}
</ol>       
</div> -->